.userContainer{
    /* border: 1px solid red; */
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}
.button{
    background-color: rgb(67, 67, 255);
    color: white;
    width: 8rem;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    float: right;
    margin-bottom: 1rem;
    cursor: pointer;
}
.table {
    width: 95%;
    border-collapse: collapse;
    margin: 20px 0;
}
.th, .td {
    padding: 12px;
    /* border: 1px solid #ddd; */
    text-align: center;
    border-radius: 0.1rem;
}
.th {
    background-color: #f2f2f2;
    color: black;
}
/* .tr:nth-child(even) {
    background-color: #f9f9f9;
} */
/* .tr:hover {
    background-color: #f1f1f1;
} */
.caption {
    caption-side: top;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.td{
    padding: 1rem;
    background-color: var(--bgSoft);

    /* border: 1px solid yellow; */
}